# TMDB API
VITE_TMDB_BASE_URL=https://api.themoviedb.org/3
VITE_TMDB_API_KEY=

# Set to "true" to enable MSW HTTP mocks in production builds.
# In development, mocks are enabled automatically.
VITE_ENABLE_MOCKS=true
